<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>Metronic | Page Layouts - Blank Page</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<script src="{%$VIEW_ROOT%}/assets/global/plugins/pace/pace.min.js" type="text/javascript"></script>
<link href="{%$VIEW_ROOT%}/assets/global/plugins/pace/themes/pace-theme-barber-shop.css" rel="stylesheet" type="text/css"/>
<link href="{%$VIEW_ROOT%}/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="{%$VIEW_ROOT%}/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
<link href="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="{%$VIEW_ROOT%}/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<link href="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-datepicker/css/datepicker.css"/>
<!-- BEGIN THEME STYLES -->
<link href="{%$VIEW_ROOT%}/assets/global/css/components.css" rel="stylesheet" type="text/css"/>
<link href="{%$VIEW_ROOT%}/assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
<link href="{%$VIEW_ROOT%}/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
<link id="style_color" href="{%$VIEW_ROOT%}/assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css"/>
<link href="{%$VIEW_ROOT%}/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-header-fixed page-quick-sidebar-over-content">
{%include file='admin/public/header.html'%}
<!-- BEGIN CONTAINER -->
<div class="page-container">
	{%include file='admin/public/sidebar.html'%}
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div class="modal fade" id="coupon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<form role="form" id="coupon-form" class="form-horizontal">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">创建一个优惠券代码</h4>
						</div>
						<div class="modal-body">
							 <div class="form-group">
								<label class="col-md-2 control-label">优惠代码</label>
								<div class="col-md-9">
									<div class="input-group">
										<div class="input-icon">
											<i class="fa fa-lock fa-fw"></i>
											<input id="newpassword" class="form-control" type="text" name="couponno" placeholder="password">
										</div>
										<span class="input-group-btn">
										<button id="genpassword" class="btn btn-success" type="button"><i class="fa fa-arrow-left fa-fw"></i>随机生成</button>
										</span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">优惠次数</label>
								<div class="col-md-9">
									<div class="input-icon">
										<i class="fa fa-tasks fa-fw"></i>
										<input class="form-control" type="text" name="total" placeholder="100">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-2">优惠时间</label>
								<div class="col-md-9">
									<div class="input-group date-picker input-daterange" data-date-format="yyyy-mm-dd">
										<input type="text" class="form-control" name="starttime" placeholder="开始时间">
										<span class="input-group-addon">
										到 </span>
										<input type="text" class="form-control" name="endtime" placeholder="结束时间">
									</div>
									<!-- /input-group -->
									<span class="help-block">
									默认的有效时间为添加时间后24小时内 </span>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-2">优惠方式</label>
								<div class="radio-list col-md-9">
									<label class="radio-inline">
									<input type="radio" name="type" value="fixed" checked> 固定减免 </label>
									<label class="radio-inline">
									<input type="radio" name="type" value="discount"> 百分比折扣 </label>
								</div>
							</div>
                            <div class="form-group">
								<label class="col-md-2 control-label">使用条件</label>
								<div class="col-md-9">
									<input type="text" name="max" class="form-control" placeholder="100">
									<span class="help-block">
									当购物车中所有商品价格超过使用条件的价格则可以使用 </span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">优惠价格</label>
								<div class="col-md-9">
									<input type="text" name="value" class="form-control" placeholder="0.7/200">
									<span class="help-block">
									7折请填写0.7，减免200元请填写200 </span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">公开</label>
								<div class="col-md-9">
									<button class="btn col-md-12 public contorl-control green">公开使用</button>
								</div>
							</div>
							<div class="form-group category">
								<label class="col-md-2 control-label">优惠分类</label>
								<div class="col-md-9">
									<div class="input-group">
										<select name="category[]" class="form-control">
											<option value="0">全场有效</option>
											{%section name=category loop=$category%}
											<option value="{%$category[category].id%}">{%$category[category].name%}</option>
											{%/section%}
										</select>
										<span class="input-group-btn">
										<button class="btn btn-success addcategory" type="button"><i class="fa fa-plus fa-fw"></i>添加分类</button>
										</span>
									</div>
									<span class="help-block">
										对子分类同样有效 </span>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn blue">创建</button>
							<button type="button" class="btn default" data-dismiss="modal">取消</button>
						</div>
						</form>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			{%include file='admin/public/style.html'%}
			<!-- BEGIN PAGE HEADER-->
			<h3 class="page-title">
			活动中心 <small>优惠券打折码</small>
			</h3>
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="{%url c=index a=index%}">首页</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="#">活动中心</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="{%url c=coupon a=admin%}">优惠券/打折码</a>
					</li>
				</ul>
			</div>
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12">
					<div id="alert-msg">
					</div>
					<!-- Begin: life time stats -->
					<div class="portlet">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-gift"></i>优惠码/打折码
							</div>
							<div class="actions">
								<button href="#coupon" data-toggle="modal" class="btn default green-stripe">
								<i class="fa fa-plus"></i>
								创建一个优惠代码
								</button>
								<div class="btn-group">
									<a class="btn default yellow-stripe" href="#" data-toggle="dropdown">
									<i class="fa fa-share"></i> 工具 <i class="fa fa-angle-down"></i>
									</a>
									<ul class="dropdown-menu pull-right">
										<li>
											<a href="#">
											Export to Excel </a>
										</li>
										<li>
											<a href="#">
											Export to CSV </a>
										</li>
										<li>
											<a href="#">
											Export to XML </a>
										</li>
										<li class="divider">
										</li>
										<li>
											<a href="#">
											Print Invoices </a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-container">
								<div class="table-actions-wrapper">
									<span>
									</span>
									<select class="table-group-action-input form-control input-inline input-small input-sm">
										<option value="">Select...</option>
										<option value="publish">Publish</option>
										<option value="unpublished">Un-publish</option>
										<option value="delete">Delete</option>
									</select>
									<button class="btn btn-sm yellow table-group-action-submit"><i class="fa fa-check"></i> Submit</button>
								</div>
								<table class="table table-striped table-bordered table-hover" id="datatable_products">
								<thead>
								<tr role="row" class="heading">
									<th width="1%">
										<input type="checkbox" class="group-checkable">
									</th>
									<th width="10%">
										 优惠代码
									</th>
									<th width="10%">
										 开始时间
									</th>
									<th width="10%">
										 结束时间
									</th>
									<th width="15%">
										 有效次数
									</th>
									<th width="15%">
										 剩余次数
									</th>
                                    <th width="10%">
                                    	使用条件
                                    </th>
									<th>
										公开
									</th>
									<th width="10%">
										折扣价
									</th>
									<th width="10%">
										 操作
									</th>
								</tr>
								<tr role="row" class="filter">
									<td>
									</td>
									<td>
										<input type="text" class="form-control form-filter input-sm" name="coupon_id">
									</td>
									<td>
										<div class="input-group date date-picker margin-bottom-5" data-date-format="yyyy-mm-dd">
											<input type="text" class="form-control form-filter input-sm" readonly name="starttime_from" placeholder="从">
											<span class="input-group-btn">
											<button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
											</span>
										</div>
										<div class="input-group date date-picker" data-date-format="yyyy-mm-dd">
											<input type="text" class="form-control form-filter input-sm" readonly name="starttime_to" placeholder="到">
											<span class="input-group-btn">
											<button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
											</span>
										</div>
									</td>
									<td>
										<div class="input-group date date-picker margin-bottom-5" data-date-format="yyyy-mm-dd">
											<input type="text" class="form-control form-filter input-sm" readonly name="endtime_from" placeholder="从">
											<span class="input-group-btn">
											<button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
											</span>
										</div>
										<div class="input-group date date-picker" data-date-format="yyyy-mm-dd">
											<input type="text" class="form-control form-filter input-sm" readonly name="endtime_to " placeholder="到">
											<span class="input-group-btn">
											<button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
											</span>
										</div>
									</td>
									<td>
										<input type="text" class="form-control form-filter input-sm" name="total" placeholder="总次数"/>
									</td>
									<td>
										<input type="text" class="form-control form-filter input-sm" name="times" placeholder="剩余次数"/>
									</td>
                                    <td>
										<input type="text" class="form-control form-filter input-sm" name="max" placeholder="使用条件"/>
									</td>
									<td>
										<select name="display" class="form-control form-filter input-sm">
											<option value="2">所有</option>
											<option value="1">公开</option>
											<option value="0">非公开</option>
										</select>
									</td>
									<td>
										<input type="text" class="form-control form-filter input-sm" name="value" placeholder="折扣"/>
									</td>
									<td>
										<div class="margin-bottom-5">
											<button class="btn btn-sm yellow filter-submit margin-bottom"><i class="fa fa-search"></i> 搜索</button>
										</div>
										<button class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i> 重置</button>
									</td>
								</tr>
								</thead>
								<tbody>
								</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- End: life time stats -->


				</div>
			</div>
			<!-- END PAGE CONTENT-->
		</div>
	</div>
	<!-- END CONTENT -->
	{%include file='admin/public/quickslider.html'%}
</div>
<!-- END CONTAINER -->
{%include file='admin/public/footer.html'%}
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/respond.min.js"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->
<script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{%$VIEW_ROOT%}/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{%$VIEW_ROOT%}/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<!-- END CORE PLUGINS -->
<script src="{%$VIEW_ROOT%}/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/scripts/datatable.js" type="text/javascript" charset="utf-8"></script>
<script src="{%$VIEW_ROOT%}/assets/admin/pages/scripts/coupon.js" type="text/javascript" charset="utf-8"></script>
<script>
jQuery(document).ready(function() {	
	Metronic.init(); // init metronic core components
	Layout.init(); // init current layout
	QuickSidebar.init(); // init quick sidebar
	Demo.init(); // init demo features
	Coupon.init();
	
	$('#genpassword').on('click',function(event){
		$.get('{%url c=coupon a=randomcode%}',{},function(data){
			$('#newpassword').val(data.body);
		});
	});
	
	$('.addcategory').on('click',function(event){
		var tpl = $('.category:first').clone();
		btn = tpl.find('button').removeClass('addcategory').addClass('removecategory').html('<i class="fa fa-plus fa-fw"></i>删除分类').removeClass('btn-success').addClass('btn-danger');
		btn.find('i').removeClass('fa-plus').addClass('fa-minus');
		$('.modal-body').append(tpl);
	});
	
	$('.removecategory').live('click',function(){
		$(this).parents('.category').remove();
	});
	
	$('input[type=radio]').on('click',function(){
		$('input[type=radio]').attr('checked',false);
		$(this).attr('checked',true);
	});
	
	$('#coupon-form').on('submit',function(event){
		var ths = $(this);
		var couponno = $('input[name=couponno]',ths).val();
		if($.trim(couponno).length == 0)
		{
			Metronic.alert({
				type: 'danger',
				icon: 'warning',
				message: '请先生成一个优惠码',
				container: $('#alert-msg'),
				place: 'prepend',
				closeInSeconds: 5,
			});
			return false;
		}
		var display = $('button.public').hasClass('green');
		var starttime = $('input[name=starttime]',ths).val();
		var endtime = $('input[name=endtime]',ths).val();
		var total = $('input[name=total]',ths).val();
		var max = $('input[name=max]',ths).val();
		var category = [];
		var categories = $('select',ths);
		var type = $('input[name=type]:checked',ths).val();
		var value = $('input[name=value]').val();
		$.each(categories,function(index,value){
			category.push($(value).val());
		});
		category = JSON.stringify(category);
		$.post('{%url c=coupon a=create%}',{couponno:couponno,starttime:starttime,endtime:endtime,total:total,category:category,type:type,value:value,max:max,display:display},function(data){
			if(data.code == 1)
			{
				$('#coupon').modal('hide');
			}
			else
			{
				Metronic.alert({
				type: 'danger',
				icon: 'warning',
				message: data.result,
				container: $('#alert-msg'),
				place: 'prepend',
				closeInSeconds: 5,
			});
			}
		});
		return false;
	});
	
	$('.removeBtn').live('click',function(event){
		var id = $(this).data('id');
		var btn = $(this);
		$.post('{%url c=coupon a=remove%}',{id:id},function(data){
			if(data.code==1)
			{
				btn.parents('tr').remove();
			}
		});
	});
	
	$('button.public').on('click',function(){
		if($(this).hasClass('green'))
		{
			$(this).removeClass('green').addClass('red').html('非公开使用');
		}
		else
		{
			$(this).removeClass('red').addClass('green').html('公开使用');
		}
		return false;
	});
});
   </script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>