<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>Metronic | eCommerce - Products</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<script src="{%$VIEW_ROOT%}/assets/global/plugins/pace/pace.min.js" type="text/javascript"></script>
<link href="{%$VIEW_ROOT%}/assets/global/plugins/pace/themes/pace-theme-barber-shop.css" rel="stylesheet" type="text/css"/>
<link href="{%$VIEW_ROOT%}/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="{%$VIEW_ROOT%}/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
<link href="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="{%$VIEW_ROOT%}/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<link href="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/assets/global/plugins/select2/select2.css"/>
<link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-datepicker/css/datepicker.css"/>
<link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-datetimepicker/css/datetimepicker.css"/>
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="{%$VIEW_ROOT%}/assets/global/css/components.css" rel="stylesheet" type="text/css"/>
<link href="{%$VIEW_ROOT%}/assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
<link href="{%$VIEW_ROOT%}/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
<link id="style_color" href="{%$VIEW_ROOT%}/assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css"/>
<link href="{%$VIEW_ROOT%}/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-header-fixed page-quick-sidebar-over-content ">
	{%include file='admin/public/header.html'%}
<!-- BEGIN CONTAINER -->
<div class="page-container">
	<!-- BEGIN SIDEBAR -->
	{%include file='admin/public/sidebar.html'%}
	<!-- END SIDEBAR -->
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">
			<div class="modal fade container in" id="sale-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" style="width:100%;">
					<div class="modal-content">
						<form class="form-horizontal" role="form" id="sale-config-form">
							<input type="hidden" name="id">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">推送</h4>
						</div>
						<div class="modal-body">
							<div class="form-body">
								<div class="form-group">
									<label class="col-md-2 control-label">活动类型</label>
									<div class="radio-list col-md-9">
										<label class="radio-inline">
										<input type="radio" name="activity" value="seckill" checked>秒杀</label>
										<label class="radio-inline">
										<input type="radio" name="activity" value="sale">限时折扣</label>
										<label class="radio-inline">
										<input type="radio" name="activity" value="fullcut">满减</label>
										<label class="radio-inline">
										<input type="radio" name="activity" value="theme">主题</label>
                                        <label class="radio-inline">
										<input type="radio" name="activity" value="hotorder">热销</label>
									</div>
								</div>
                                <div class="activity_form seckill active">
                                	<div class="form-group">
										<label class="col-md-2 control-label">活动名称</label>
										<div class="col-md-9">
											<input type="text" name="sname" class="form-control" placeholder="八月促销">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-2 control-label">产品名称</label>
										<div class="col-md-9">
											<input type="text" name="pname" class="form-control" placeholder="" readonly>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-2">开始时间</label>
										<div class="col-md-9">
											<div class="input-group date form_datetime">
												<input type="text" size="16" name="starttime" class="form-control">
												<span class="input-group-btn">
												<button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
												</span>
												<span class="input-group-btn">
												<button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
												</span>
											</div>
											<!-- /input-group -->
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-2 control-label">结束时间</label>
										<div class="col-md-9">
											<div class="input-group date form_datetime">
												<input type="text" size="16" class="form-control" name="endtime">
												<span class="input-group-btn">
												<button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
												</span>
												<span class="input-group-btn">
												<button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
												</span>
											</div>
											<!-- /input-group -->
											<span class="help-block">
											活动结束时间，注意要在商品上架期间内
											</span>
										</div>
									</div>
                                    <div class="form-group">
										<label class="col-md-2 control-label">LOGO图</label>
										<div class="col-md-9">
											<div class="input-icon right">
												<i class="fa"></i>
												<input type="file" class="form-control previewImg" name="logo"/>
                                                <img src="" width="640" height="320" style="cursor:pointer;" class="clicktoupload display-none">
											</div>
                                            <span class="help-block">
											宽度640 高度320
											</span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-2 control-label">售价</label>
										<div class="col-md-9">
											<div class="input-icon right">
												<i class="fa"></i>
												<input type="text" class="form-control" name="price"/>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-2 control-label">排序</label>
										<div class="col-md-9">
											<div class="input-icon right">
												<input type="text" class="form-control" name="orderby" placeholder="1">
												<span class="help-block">
												数字越大越靠后
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="activity_form sale display-none">
                                	<div class="form-group">
										<label class="col-md-2 control-label">活动名称</label>
										<div class="col-md-9">
											<input type="text" name="sname" class="form-control" placeholder="八月促销">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-2 control-label">产品名称</label>
										<div class="col-md-9">
											<input type="text" name="pname" class="form-control" placeholder="" readonly>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-2">开始时间</label>
										<div class="col-md-9">
											<div class="input-group date form_datetime">
												<input type="text" size="16" name="starttime" class="form-control">
												<span class="input-group-btn">
												<button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
												</span>
												<span class="input-group-btn">
												<button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
												</span>
											</div>
											<!-- /input-group -->
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-2 control-label">结束时间</label>
										<div class="col-md-9">
											<div class="input-group date form_datetime">
												<input type="text" size="16" class="form-control" name="endtime">
												<span class="input-group-btn">
												<button class="btn default date-reset" type="button"><i class="fa fa-times"></i></button>
												</span>
												<span class="input-group-btn">
												<button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
												</span>
											</div>
											<!-- /input-group -->
											<span class="help-block">
											活动结束时间，注意要在商品上架期间内
											</span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-2 control-label">售价</label>
										<div class="col-md-9">
											<div class="input-icon right">
												<i class="fa"></i>
												<input type="text" class="form-control" name="price"/>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-2 control-label">排序</label>
										<div class="col-md-9">
											<div class="input-icon right">
												<input type="text" class="form-control" name="orderby" placeholder="1">
												<span class="help-block">
												数字越大越靠后
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="activity_form fullcut display-none">
									<div class="form-group">
										<label class="col-md-2 control-label">满减类型</label>
										<div class="col-md-9">
											<select class="form-control" name="fullcut">
												{%section name=fullcut loop=$fullcut%}
												<option value="{%$fullcut[fullcut].id%}">{%$fullcut[fullcut].sname%}</option>
												{%/section%}
											</select>
										</div>
									</div>
								</div>
                                <div class="activity_form theme display-none">
									<div class="form-group">
										<label class="col-md-2 control-label">主题</label>
										<div class="col-md-9">
											<select class="form-control" name="theme">
												{%section name=theme loop=$theme%}
												<option value="{%$theme[theme].id%}">{%$theme[theme].name%}</option>
												{%/section%}
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn blue">开始推送</button>
							<button type="button" class="btn default" data-dismiss="modal">取消</button>
						</div>
						</form>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- BEGIN STYLE CUSTOMIZER -->
			{%include file='admin/public/style.html'%}
			<!-- END STYLE CUSTOMIZER -->
			<!-- BEGIN PAGE HEADER-->
			<h3 class="page-title">
			商品管理 <small>商品列表</small>
			</h3>
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="{%url c=index a=index%}">主页</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="#">商品管理</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="{%url c=product a=listview%}">商品列表</a>
					</li>
				</ul>
				
			</div>
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-12" id="alert-msg">
					</div>
					<!-- Begin: life time stats -->
					<div class="portlet">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-gift"></i>商品列表
							</div>
							<div class="actions">
								<div class="btn-group">
									<a class="btn default yellow-stripe" href="#" data-toggle="dropdown">
									<i class="fa fa-share"></i> 工具 <i class="fa fa-angle-down"></i>
									</a>
									<ul class="dropdown-menu pull-right">
										<li>
											<a href="#" id="export">
											导出 </a>
										</li>
										<li class="divider">
										</li>
										<li>
											<a href="#">
											打印 </a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-container">
								<div class="table-actions-wrapper">
									<span>
									</span>
									<select class="table-group-action-input form-control input-inline input-small input-sm">
										<option value="0" selected="selected">请选择</option>
										<option value="1">上架</option>
										<option value="2">下架</option>
										<option value="3">删除</option>
									</select>
									<button class="btn btn-sm yellow table-group-action-submit"><i class="fa fa-check"></i>提交</button>
								</div>
								<table class="table table-striped table-bordered table-hover" id="datatable_products">
								<thead>
								<tr role="row" class="heading">
									<th width="1%">
										<input type="checkbox" class="group-checkable">
									</th>
                                    <th width="5%">
                                    	缩略图
                                    </th>
									<th width="10%">
										 SKU
									</th>
									<th width="15%">
										 产品名称
									</th>
									<th width="5%">
										 类别
									</th>
									<th width="10%">
										 价格
									</th>
									<th width="5%">
										 库存
									</th>
                                    <th width="5%">
										 积分
									</th>
									<th width="10%">
										 创建日期
									</th>
									<th width="5%">
										 状态
									</th>
									<th width="10%">
										 操作
									</th>
								</tr>
								<tr role="row" class="filter">
									<td>
                                    #
									</td>
                                    <td>
                                    #
                                    </td>
									<td>
										<input type="text" class="form-control form-filter input-sm" name="product_sku">
									</td>
									<td>
										<input type="text" class="form-control form-filter input-sm" name="product_name">
									</td>
									<td>
										<select name="product_category" class="form-control form-filter input-sm">
											<option value="0" selected>请选择</option>
											{%section name=category loop=$category%}
											<option value="{%$category[category].id%}">{%$category[category].name%}</option>
											{%/section%}
										</select>
									</td>
									<td>
										<div class="margin-bottom-5">
											<input type="text" class="form-control form-filter input-sm" name="product_price_from" placeholder="从"/>
										</div>
										<input type="text" class="form-control form-filter input-sm" name="product_price_to" placeholder="到"/>
									</td>
									<td>
										<div class="margin-bottom-5">
											<input type="text" class="form-control form-filter input-sm" name="product_stock_from" placeholder="从"/>
										</div>
										<input type="text" class="form-control form-filter input-sm" name="product_stock_to" placeholder="到"/>
									</td>
                                    <td>
										<input type="text" class="form-control form-filter input-sm" name="product_score" placeholder="积分"/>
									</td>
									<td>
										<div class="input-group date date-picker margin-bottom-5" data-date-format="yyyy-mm-dd">
											<input type="text" class="form-control form-filter input-sm" name="product_time_from" placeholder="从">
											<span class="input-group-btn">
											<button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
											</span>
										</div>
										<div class="input-group date date-picker" data-date-format="yyyy-mm-dd">
											<input type="text" class="form-control form-filter input-sm" name="product_time_to " placeholder="到">
											<span class="input-group-btn">
											<button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
											</span>
										</div>
									</td>
									<td>
										<select name="product_status" class="form-control form-filter input-sm">
											<option value="0" selected>请选择</option>
											<option value="1">已上架</option>
											<option value="2">未上架</option>
										</select>
									</td>
									<td>
										<div class="margin-bottom-5">
											<button class="btn btn-sm yellow filter-submit margin-bottom"><i class="fa fa-search"></i> 搜索</button>
										</div>
										<button class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i> 重置</button>
									</td>
								</tr>
								</thead>
								<tbody>
								</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- End: life time stats -->
				</div>
			</div>
			<!-- END PAGE CONTENT-->
		</div>
	</div>
	<!-- END CONTENT -->
	{%include file='admin/public/quickslider.html'%}
</div>
<!-- END CONTAINER -->
{%include file='admin/public/footer.html'%}
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/respond.min.js"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->
<script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="{%$VIEW_ROOT%}/assets/global/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="{%$VIEW_ROOT%}/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{%$VIEW_ROOT%}/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{%$VIEW_ROOT%}/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/scripts/datatable.js"></script>
<script src="{%$VIEW_ROOT%}/assets/admin/pages/scripts/ecommerce-products.js"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
jQuery(document).ready(function() {	
	Metronic.init(); // init metronic core components
	Layout.init(); // init current layout
	QuickSidebar.init(); // init quick sidebar
	Demo.init(); // init demo features
	EcommerceProducts.init();
	
	$(".form_datetime").datetimepicker({
		autoclose: true,
		isRTL: Metronic.isRTL(),
		format: "yyyy-mm-dd hh:ii",
		todayBtn: true,
		minuteStep: 5,
		pickerPosition: (Metronic.isRTL() ? "bottom-right" : "bottom-left")
	});
	
	$('body').removeClass("modal-open");
	
	$('input[name=activity]').on('click',function(){
		$('input[name=activity]').attr('checked',false);
		$(this).attr('checked',true);
		var idname = $(this).val();
		$('.activity_form').addClass('display-none');
		$('.'+idname).removeClass('display-none');
	});
	
	$('#sale-config').bind('show.bs.modal', function (event) {
		var button = $(event.relatedTarget);
		var pid = button.data('pid');
		var pname = button.data('pname');
		var price = button.data('price');
		if(pid != undefined)
		{
			var modal = $(this);
			//modal.find('input[name=activity]:first').trigger('click');
			modal.find('input[name=pname]').attr('placeholder',pname);
			modal.find('input[name=id]').val(pid);
			modal.find('input[name=price]').val(price).parents('.form-group').removeClass('has-error');
			modal.find('input[name=sname]').val('').parents('.form-group').removeClass('has-error');
			modal.find('input[name=starttime]').val('');
			modal.find('input[name=endtime]').val('');
			modal.find('input[name=orderby]').val(1);
			modal.find('.previewImg').removeClass('hide').val('');
			modal.find('.clicktoupload').addClass('display-none').attr('src','');
		}
	});
	
	$('#sale-config-form').on('submit',function(){
		var modal = $('#sale-config-form');
		var activities = modal.find('input[name=activity]');
		var activity = 'seckill';
		$.each(activities,function(index,value){
			if($(value).is(':checked'))
			{
				activity = $(value).val();
			}
		});
		var url = '';
		
		switch(activity)
		{
			case 'seckill':url = '{%url c=seckill a=create%}';
					var sname = modal.find('.seckill input[name=sname]').val();
					var pid = modal.find('input[name=id]').val();
					var starttime = modal.find('.seckill input[name=starttime]').val();
					var endtime = modal.find('.seckill input[name=endtime]').val();
					var price = modal.find('.seckill input[name=price]').val();
					var orderby = modal.find('.seckill input[name=orderby]').val();
					var logo = modal.find('.seckill img').attr('src');
					if(parseFloat(price) == 0)
					{
						modal.find('.seckill input[name=price]').trigger('focus').parents('.form-group').addClass('has-error');
						return false;
					}
					if(sname.length == 0)
					{
						modal.find('.seckill input[name=sname]').trigger('focus').parents('.form-group').addClass('has-error');
						return false;
					}
					parameter = {sname:sname,pid:pid,starttime:starttime,endtime:endtime,price:price,orderby:orderby,logo:logo};
					break;
			case 'sale':url = '{%url c=sale a=create%}';
					var sname = modal.find('.sale input[name=sname]').val();
					var pid = modal.find('input[name=id]').val();
					var starttime = modal.find('.sale input[name=starttime]').val();
					var endtime = modal.find('.sale input[name=endtime]').val();
					var price = modal.find('.sale input[name=price]').val();
					var orderby = modal.find('.sale input[name=orderby]').val();
					if(parseFloat(price) == 0)
					{
						modal.find('.sale input[name=price]').focus().parents('.form-group').addClass('has-error');
						return false;
					}
					if(sname.length == 0)
					{
						modal.find('.sale input[name=sname]').focus().parents('.form-group').addClass('has-error');
						return false;
					}
					parameter = {sname:sname,pid:pid,starttime:starttime,endtime:endtime,price:price,orderby:orderby};
					break;
			case 'fullcut':url = '{%url c=fullcutdetail a=create%}';
					var pid = modal.find('input[name=id]').val();
					var fullcut = modal.find('select[name=fullcut]').val();//选择的满减
					parameter = {pid:pid,fid:fullcut};
					break;
			case 'theme':url = '{%url c=theme a=product%}';
					var pid = modal.find('input[name=id]').val();
					var tid = modal.find('select[name=theme]').val();//选择的主题
					parameter = {tid:tid,pid:pid};
					break;
			case 'hotorder':
					url = '{%url c=hotorder a=create%}';
					var pid = modal.find('input[name=id]').val();
					parameter = {pid:pid};
					break;
			default:Metronic.alert({
					type: 'danger',
					icon: 'warning',
					message: '请选择推送方式',
					container: $('#alert-msg'),
					place: 'prepend',
					closeInSeconds: 5,
				});break;
		}
		$.post(url,parameter,function(data){
			if(data.code == 1)
			{
				$('#sale-config').modal('hide');
				window.location.reload();
			}
			else
			{
				Metronic.alert({
					type: 'danger',
					icon: 'warning',
					message: data.result,
					container: $('#alert-msg'),
					place: 'prepend',
					closeInSeconds: 5,
				});
			}
		});
		return false;
	});
	
	$('#export').on('click',function(event){
		var checkbox = $('input[type=checkbox]',$('tbody'));
		var data = [];
		$.each(checkbox,function(index,value){
			data.push($(value).val());
		});
		if(data.length == 0)
		{
			if(window.confirm('您确定要导出所有商品数据?'))
			{
				window.open('{%url c=product a=export%}','');
			}
		}
		else
		{
			if(window.confirm('您确定要导出选择的商品数据?'))
			{
				window.open('{%url c=product a=export%}&data='+JSON.stringify(data),'');
			}
		}
	});
	
	$('.clicktoupload').live('click',function(){
		$(this).prev().click();
	});
	
	$('.previewImg').on('change',function(){
		if($(this).val() != '')
		{
			var ths = $(this);
			var xhr = new XMLHttpRequest();
			var formData = new FormData();
			var url = 'index.php?c=index&a=image&width=640&height=320';
			formData.append('file',this.files[0]);
			xhr.open("POST",url,true);
			xhr.onload = function(){
				if(xhr.status == 200 && xhr.readyState == 4)  
				{
					var response = $.parseJSON(xhr.response);
					if(response.code == 1)
					{
						ths.addClass('hide').parent().find('img').attr('src',response.body).removeClass('display-none');
					}
				}
				else
				{  
					alert('文件上传失败');
				}  
			};
			xhr.send(formData);
		}
	});
});
</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>