<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>配置设定 | {%$systemConfig.companyname|default:""%}后台管理系统</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<script src="{%$VIEW_ROOT%}/assets/global/plugins/pace/pace.min.js" type="text/javascript"></script>
<link href="{%$VIEW_ROOT%}/assets/global/plugins/pace/themes/pace-theme-barber-shop.css" rel="stylesheet" type="text/css"/>
<link href="{%$VIEW_ROOT%}/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="{%$VIEW_ROOT%}/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
<link href="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="{%$VIEW_ROOT%}/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<link href="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="{%$VIEW_ROOT%}/assets/global/css/components.css" rel="stylesheet" type="text/css"/>
<link href="{%$VIEW_ROOT%}/assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
<link href="{%$VIEW_ROOT%}/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
<link id="style_color" href="{%$VIEW_ROOT%}/assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css"/>
<link href="{%$VIEW_ROOT%}/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-header-fixed page-quick-sidebar-over-content">
{%include file='admin/public/header.html'%}
<!-- BEGIN CONTAINER -->
<div class="page-container">
	{%include file='admin/public/sidebar.html'%}
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">
			<div class="modal fade container in" id="ship" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
				<div class="modal-dialog">
					<div class="modal-content">
						<form class="form-horizontal" role="form" id="ship_form">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
								<h4 class="modal-title">添加配送方案</h4>
							</div>
							<div class="modal-body">
								<div class="form-body">
									<div class="form-group">
										<label class="col-md-2 control-label">方案名称</label>
										<div class="col-md-9">
											<input type="text" name="name" class="form-control" placeholder="只是自己看的一个东西">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-2 control-label">方案代码</label>
										<div class="col-md-9">
											<input type="text" name="code" class="form-control" placeholder="SF">
											<span class="help-block">
										   	从官方获得.</span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-2 control-label">免费区间</label>
										<div class="col-md-9">
											<input type="text" name="max" class="form-control" placeholder="0">
											 <span class="help-block">
											当购物费超过此费用则免费. </span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-2 control-label">配送费用</label>
										<div class="col-md-9">
											<input type="text" name="price" class="form-control" placeholder="20.00">
										   
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn blue btn-circle">添加</button>
								<button type="button" class="btn default btn-circle" data-dismiss="modal">取消</button>
							</div>
						</form>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- BEGIN STYLE CUSTOMIZER -->
			{%include file='admin/public/style.html'%}
			<!-- END STYLE CUSTOMIZER -->
			<!-- BEGIN PAGE HEADER-->
			<h3 class="page-title">
			设定 <small>配送方案</small>
			</h3>
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="{%url c=index a=index%}">首页</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="#">设定</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="{%url c=ship a=admin%}">配送方案</a>
					</li>
				</ul>
			</div>
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12">
					<div id="alert-msg">
					</div>
					<div class="control-form">
						<button class="btn btn-sm purple-stripe" data-target="#ship" data-toggle="modal">添加配送方案</button>
					</div>
					<div class="portlet box red">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-cogs"></i>配送方案
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-scrollable">
								<table class="table table-hover">
								<thead>
								<tr>
									<th>
										 方案ID
									</th>
									<th>
										 方案名称
									</th>
									<th>
										 方案代码
									</th>
									<th>
										 免费区间
									</th>
									<th>
										 配送费用
									</th>
									<th>
										操作
									</th>
								</tr>
								</thead>
								<tbody id="tbody">
								{%section name=ship loop=$ship%}
								<tr>
									<td>
										 {%$ship[ship].id%}
									</td>
									<td>
										 {%$ship[ship].name%}
									</td>
									<td>
										 {%$ship[ship].code%}
									</td>
									<td>
										 {%$ship[ship].max%}
									</td>
									<td>
										{%$ship[ship].price%}
									</td>
									<td>
										<button data-id="{%$ship[ship].id%}" class="btn green-stripe btn-xs modifier">修改</button>
									</td>
								</tr>
								{%/section%}
								</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END PAGE CONTENT-->
		</div>
	</div>
	<!-- END CONTENT -->
	{%include file='admin/public/quickslider.html'%}
</div>
<!-- END CONTAINER -->
{%include file='admin/public/footer.html'%}
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/respond.min.js"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->
<script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<script src="{%$VIEW_ROOT%}/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="{%$VIEW_ROOT%}/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script>
jQuery(document).ready(function() {	
	Metronic.init(); // init metronic core components
	Layout.init(); // init current layout
	QuickSidebar.init(); // init quick sidebar
	Demo.init(); // init demo features
	
	$('.modifier').live('click',function(){
		var id = $(this).data('id');
		window.location = '{%url c=admin a=shipmodify%}&id='+id;
	});
	
	$('#ship_form').on('submit',function(){
		var name = $.trim($(this).find('input[name=name]').val());
		var code = $.trim($(this).find('input[name=code]').val());
		var max = $.trim($(this).find('input[name=max]').val());
		var price  = $.trim($(this).find('input[name=price]').val());
		$.post('{%url c=ship a=create%}',{name:name,code:code,max:max,price:price},function(data){
			if(data.code == 1)
			{
				$('#tbody').append('<tr><td></td><td>'+name+'</td><td>'+code+'</td><td>'+max+'</td><td>'+price+'</td></tr>');
				$('#ship').modal('hide');
			}
			else
			{
				Metronic.alert({
					type: 'danger',
					icon: 'warning',
					message: data.result,
					container: $('#alert-msg'),
					place: 'prepend',
					closeInSeconds: 5,
				});
			}
		});
		return false;
	});
});
   </script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>