<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>收货地址</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="Keywords" content="abc" />
  <meta name="description" content="" />
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="js/jquery.transit.js"></script>
  <script type="text/javascript" src="js/jquery.mslides.js"></script>
</head>
<body>
  <div id="header">
    <header>
      <a class="btn left_btn"><i class="icon back"></i></a>
      <h1>收货地址</h1>
    </header>
  </div>
  <div id="content" style="padding-top:50px;padding-bottom:40px;">
    <div class="addrList">
      <div class="item clearfix">
        <div class="one clearfix">
          <a class="right">187****8298</a>
          白子画
        </div>
        <div class="addr">浙江省杭州市西湖区文二西路蒋村花园兴达苑47幢一单502室</div>
        <div class="redtext moren">【 默认 】</div>
      </div>
      <div class="item clearfix">
        <div class="one clearfix">
          <a class="right">187****8298</a>
          白子画
        </div>
        <div class="addr">浙江省杭州市西湖区文二西路蒋村花园兴达苑47幢一单502室</div>
      </div>
    </div>
    <a class="addaddrbtn">
      <div class="icon addaddr"></div>
      新添收货地址
    </a>
  </div>
  <script type="text/javascript">
    

  </script>
</body>
</html>