<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>换购余额</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="Keywords" content="" />
  <meta name="description" content="" />
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="js/jquery.transit.js"></script>
  <script type="text/javascript" src="js/jquery.mslides.js"></script>
</head>
<body>
  <div id="header">
    <header>
      <a class="btn left_btn" href="javascript:history.go(-1);"><i class="icon back"></i></a>
      <h1>换购余额</h1>
    </header>
  </div>
  <div id="content" style="padding-top:50px;padding-bottom:40px;">
    <div class="huangouCon">
      <div class="keyong clearfix">
        <div class="left">
          当前可用积分共计： <span class="redtext">1500</span>
        </div>
        <div class="right">100积分=5元</div>
      </div>
      <div class="change clearfix">
        <div class="left">要换购积分 &nbsp;&nbsp;<small>以100为单位</small></div>
        <input type="text" placeholder="请输入">
      </div>
    </div>
    <a class="btnone_pink red" style="margin-top:50px;">换购</a>
  </div>
  <script type="text/javascript">
    

  </script>
</body>
</html>