<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>购物车</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="Keywords" content="" />
  <meta name="description" content="" />
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="js/common.js"></script>
  <script type="text/javascript" src="js/jquery.transit.js"></script>
  <script type="text/javascript" src="js/jquery.fly.js"></script>
  <script type="text/javascript" src="js/jquery.flycart.js"></script>
</head>
<body>
  <div id="header">
    <header class="clearfix">
      <h1>购物车</h1>
    </header>
  </div>
  <div class="caidanCon">
    <div class="logo J_caidan" onclick="toggleCaidan()"></div>
    <div class="caidan small">
      <a class="home"></a>
      <a class="cart"></a>
      <a class="prolist"></a>
      <a class="user"></a>
      <a class="kefu"></a>
    </div>
  </div>
  <div id="content" style="padding-top:50px">
    <div class="car_list">
      <div class="item">
        <div class="onup clearfix">
          <div class="choo" sele></div>
          <div class="carpro clearfix" href="">
            <div class="pic">
              <img src="images/pro1.jpg">
            </div>
            <div class="name">香港代购Avene雅漾活泉水喷雾300ml 雅漾喷雾补水保湿</div>
            <div class="num clearfix">
              <a class="add"></a>
              <a class="number">1</a>
              <a class="minus"></a>
            </div>
            <div class="rb">
              <div class="price">￥130</div>
              <div class="buynum">x1</div>
              <div class="act">手机秒杀 <span class="redtext">00:01:30</span></div>
            </div>
          </div>
        </div>
        <div class="ondown">
          <a class="deletebtn">删除</a>
        </div>
      </div>
      <div class="item">
        <div class="onup clearfix">
          <div class="choo" sele></div>
          <div class="carpro clearfix" href="">
            <div class="pic">
              <img src="images/pro1.jpg">
            </div>
            <div class="name">香港代购Avene雅漾活泉水喷雾300ml 雅漾喷雾补水保湿</div>
            <div class="num clearfix">
              <a class="add"></a>
              <a class="number">1</a>
              <a class="minus"></a>
            </div>
            <div class="rb">
              <div class="price">￥130</div>
              <div class="buynum">x1</div>
              <div class="act">手机秒杀 <span class="redtext">00:01:30</span></div>
            </div>
          </div>
        </div>
        <div class="ondown">
          <a class="deletebtn">删除</a>
        </div>
      </div>
      <div class="item">
        <div class="onup clearfix">
          <div class="choo" sele></div>
          <div class="carpro clearfix" href="">
            <div class="pic">
              <img src="images/pro1.jpg">
            </div>
            <div class="name">香港代购Avene雅漾活泉水喷雾300ml 雅漾喷雾补水保湿</div>
            <div class="num clearfix">
              <a class="add"></a>
              <a class="number">1</a>
              <a class="minus"></a>
            </div>
            <div class="rb">
              <div class="price">￥130</div>
              <div class="buynum">x1</div>
              <div class="act">手机秒杀 <span class="redtext">00:01:30</span></div>
            </div>
          </div>
        </div>
        <div class="ondown">
          <a class="deletebtn">删除</a>
        </div>
      </div>
    </div>
    <div class="statusbar clearfix">
      <div class="allselect">
        全选
      </div>
      <div class="right">
        <div class="allprice"><span class="redtext">合计:100</span>元</div>
        <div class="youhui">已优惠:-20元</div>
        <a class="gocount">去结算</a>
        <div class="tips">我们家全场包税免邮</div>
      </div>
    </div>
  </div>
  <div id="footer">

  </div>
  <script type="text/javascript">
    $(function () {
      $(".car_list .item .onup").flyCart({
        woh:$('.car_list .item .onup').width()+140,
      });
    });

  </script>
</body>
</html>