<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>我的收藏</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="Keywords" content="" />
  <meta name="description" content="" />
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="js/jquery.transit.js"></script>
  <script type="text/javascript" src="js/jquery.fly.js"></script>
</head>
<body>
  <div id="header">
    <header>
      <a class="btn left_btn"><i class="icon back"></i></a>
      <h1>我的收藏</h1>
      <a class="btn right_btn"><i class="icon magnify"></i></a>
    </header>
  </div>
  <div id="content" style="padding-top:50px">
    <div class="class_cont">
      <div class="classify clearfix">
        <div class="item active">
          <a href="">全部分类（12）</a>
        </div>
        <div class="item">
          <a href="">失效</a>
        </div>
      </div>  
    </div>
    <div class="pro_cont">
      <div class="inner clearfix">
        <hr>
        <a class="pro">
          <div class="pic">
            <img src="images/pro1.jpg">
            <div class="label miaosha"></div>
            <div class="country">美国</div>
          </div>
          <div class="downth">
            <div class="desc">香港代购Avene雅漾活泉水喷雾300ml 雅漾喷雾补水保湿爽肤水抗敏感...</div>
            <div class="prices clearfix">
              <div class="price">￥200</div>
              <div class="oldp"><span class="cross">￥300</span></div>
              <div class="discount">4.7</div>
            </div> 
          </div> 
        </a>
        <a class="pro">
          <div class="pic">
            <img src="images/pro1.jpg">
            <div class="label temai"></div>
            <div class="country">美国</div>
          </div>
          <div class="downth">
            <div class="desc">香港代购Avene雅漾活泉水喷雾300ml 雅漾喷雾补水保湿爽肤水抗敏感...</div>
            <div class="prices clearfix">
              <div class="price">￥200</div>
              <div class="oldp"><span class="cross">￥300</span></div>
              <div class="discount">4.7</div>
            </div> 
          </div> 
        </a>
        <hr>
        <a class="pro">
          <div class="pic">
            <img src="images/pro1.jpg">
            <div class="label manjian"></div>
            <div class="country">美国</div>
          </div>
          <div class="downth">
            <div class="desc">香港代购Avene雅漾活泉水喷雾300ml 雅漾喷雾补水保湿爽肤水抗敏感...</div>
            <div class="prices clearfix">
              <div class="price">￥200</div>
              <div class="oldp"><span class="cross">￥300</span></div>
              <div class="discount">4.7</div>
            </div> 
          </div> 
        </a>
        <a class="pro">
          <div class="pic">
            <img src="images/pro1.jpg">
            <div class="label zuhe"></div>
            <div class="country">美国</div>
          </div>
          <div class="downth">
            <div class="desc">香港代购Avene雅漾活泉水喷雾300ml 雅漾喷雾补水保湿爽肤水抗敏感...</div>
            <div class="prices clearfix">
              <div class="price">￥200</div>
              <div class="oldp"><span class="cross">￥300</span></div>
              <div class="discount">4.7</div>
            </div> 
          </div> 
        </a>
      </div>
    </div>
  </div>
  <div id="footer">

  </div>
  <script type="text/javascript">
    $(function () {
      $('.subclass .inner .item .pic').each(function(){
        $(this).css('height',$(this).outerWidth()-2);
      });
      var cwi = 0;
      $('.classify .item').each(function(){
        cwi += $(this).outerWidth();
        console.log(cwi);
      });
      if(cwi<=$(window).width()){
        var clwth = $(window).width()/$('.classify .item').length;
        $('.classify .item').css('width',clwth);
      }else{
        $(".classify").css('width',cwi+3);
        $(".classify").fly({
          d:true,
          woh:$('.classify').width(),
        });
      }
      $('.pro .pic').css('height',$('.pro .pic').eq(0).width());
      // console.log(cwi);
      
    });

  </script>
</body>
</html>