<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>订单详情</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="Keywords" content="" />
  <meta name="description" content="" />
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="sweetalert/sweet-alert.css">
  <script type="text/javascript" src="sweetalert/sweet-alert.js"></script>
  <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="js/jquery.transit.js"></script>
  <script type="text/javascript" src="js/jquery.mslides.js"></script>
  <script type="text/javascript" src="js/common.js"></script>
  <script type="text/javascript" src="js/Jquery.Query.js"></script>
</head>
<body>
  <div id="header">
    <header>
      <a class="btn left_btn" href="javascript:history.go(-1);"><i class="icon back"></i></a>
      <h1>订单详情</h1>
    </header>
  </div>
  <div id="content" style="padding-top:50px;padding-bottom:30px;">
    
  </div>
  <script type="text/javascript">
  var oid;
  $(function(){
    oid=$.query.get('id');
    loader();
  });
  function loader(){
    $.ajax( {    
      url:BASEURL+'?c=order&a=information',// 跳转到 action    
      data:{
        id:oid,
        type:'json',
      },    
      type:'get',    
      cache:false,    
      dataType:'json',    
      success:function(data) { 
        if(data.code == 1){
          console.log(data);
          fillOrder(data.body);
        }else{
          alert(data.result);
        } 
      } 
    });
  }

  var statusName = {
    '0':'待付款',
    '1':'待发货',
    '2':'订单关闭',
    '3':'取消支付',
    '4':'待收货',
    '5':'待评价',
    '6':'完成评论',
    '7':'退款中',
  };
  function fillOrder(body){
    // console.log(body.orderdetail[0]);
    var html = "";
    var rei = body[0];
    var btns = {
      '0':'<a class="btnone_pink red">去支付</a>',
      '1':'<div class="txfahuo clearfix"><a class="txfh nol" onclick="remindOrder('+oid+')">提醒发货</a><a class="tuikbtn" href="refundApplication.html?id='+oid+'">退款</a></div>',
      '2':'',
      '3':'',
      '6':'<div class="txfahuo clearfix"><a class="txfh">追加评价</a></div>',
      '7':'<div class="txfahuo clearfix"><a class="txfh" onclick="cancelTui('+oid+')">取消退款</a></div>',
      '4':'<div class="txfahuo clearfix"><a class="txfh nol">查看物流</a><a class="tuikbtn pinkbtn nol" onclick="remindEnOrder('+oid+')">确认收货</a><a class="tuikbtn" href="refundApplication.html?id='+oid+'">退款</a></div>',
      '5':'<div class="txfahuo clearfix"><a class="txfh">去评价</a></div>',
    };
    // console.log(rei);
    var d = new Date(parseInt(rei.createtime)*1000);
    var cTime = '201'+d.format('y-M-d h:m:s');
    if(body.orderdetail.length==0){
    }else{
      var proshtml = "";
      for(var i=0;i<body.orderdetail.length;i++){
        proshtml+='<div class="item clearfix">'
               +     '<div class="picleft">'
               +       '<img src="'+body.orderdetail[i]["img"]+'">'
                +    '</div>'  
               +     '<div class="desc">'
               +    body.orderdetail[i]["productname"]+' '+body.orderdetail[i]["prototype"]
               +    '</div>'
               +     '<div class="right prinum">'
               +       '<span class="redtext">￥'+body.orderdetail[i]["unitprice"]+'</span> '
               +       '&nbsp;&nbsp;&nbsp;x'+body.orderdetail[i]["num"]
               +     '</div>'
               +   '</div>';
      }
      html+='<div class="orderItemForm">'
          +    '<div class="item clearfix">'
          +      '<label>国际直邮</label>'
          +      '<div class="right redtext">'+statusName[rei.status]+'</div>'
          +    '</div>'
          + proshtml
           +   '<div class="item clearfix">'
           +     '<label>订单号:</label>'
           +     '<div class="right"><a>'+rei.orderno+'</a></div>'
           +   '</div>'
           +   '<div class="item clearfix">'
           +     '<label>地 址:</label>'
           +     '<div class="right">'+rei.consigneeprovince+rei.consigneecity+rei.consigneeaddress+'</div>'
           +   '</div>'
           +   '<div class="item clearfix">'
           +     '<label>收件人:</label>'
            +    '<div class="right">'+rei.consignee+'</div>'
            +  '</div>'
            +  '<div class="item clearfix">'
           +     '<label>电 话:</label>'
          +      '<div class="right">'+rei.consigneetel+'</div>'
          +    '</div>'
          +  '</div>'
          +  '<div class="orderItemForm">'
          +    '<div class="item clearfix">'
          +      '<label>运税费:</label>'
          +      '<div class="right">￥0</div>'
          +    '</div>'
          +    '<div class="item clearfix">'
          +      '<label>优惠:</label>'
          +      '<div class="right">-￥'+rei.discount+'</div>'
          +    '</div>'
          +    '<div class="item clearfix">'
          +      '<label>实际支付:</label>'
          +      '<div class="right redtext">￥'+rei.ordertotalamount+'</div>'
          +    '</div>'
          +  '</div>'
          +'<div class="clearfix">'
          +        btns[rei.status]
          +    '</div>'
          +'<div class="tipundbtn">下单时间：'+cTime+'</div>';
        }
    $('#content').html(html);
    // console.log('.orderListCont_'+statusCur);
  }
  function cancelTui(id){
    event.stopPropagation();
      $.ajax( {    
        url:BASEURL+'?c=refund&a=remove',// 跳转到 action    
        data:{
          id:id,
        },    
        type:'post',    
        cache:false,    
        dataType:'json',    
        success:function(data) { 
          if(data.code == 1){
            window.location.href=window.location.href;
          }else{
            alert(data.result);
          } 
        } 
      });
  }
  function remindOrder(id){
    event.stopPropagation();
    $.ajax( {    
      url:BASEURL+'?c=order&a=shipalert',// 跳转到 action    
      data:{
        id:id,
      },    
      type:'post',    
      cache:false,    
      dataType:'json',    
      success:function(data) { 
        if(data.code == 1){
          alert('提醒成功！');
        }else{
          alert(data.result);
        } 
      } 
    });
  }
  function remindEnOrder(id){//提醒是否确认收货
    event.stopPropagation();
    swal({
      title: "确认收货吗?",
      text: "成功确认后，请对我们的服务进行评价",
      type: "warning",
      showCancelButton: true,
      confirmButtonColor: "#FE5073",
      confirmButtonText: "是的",
      cancelButtonText: "取消",
      closeOnConfirm: true
    },function(){
      ensureOrder(id);
    });
  }
  function ensureOrder(id){
    event.stopPropagation();
    $.ajax( {    
      url:BASEURL+'?c=order&a=shipped',// 跳转到 action    
      data:{
        id:id,
      },    
      type:'post',    
      cache:false,    
      dataType:'json',    
      success:function(data) { 
        if(data.code == 1){
          //去评价页面
          console.log(data);
        }else{
          alert(data.result);
        } 
      } 
    });
  }
  </script>
</body>
</html>