<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>订单详情</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="Keywords" content="" />
  <meta name="description" content="" />
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="js/jquery.transit.js"></script>
  <script type="text/javascript" src="js/jquery.mslides.js"></script>
</head>
<body>
  <div id="header">
    <header>
      <a class="btn left_btn"><i class="icon back"></i></a>
      <h1>订单详情</h1>
    </header>
  </div>
  <div id="content" style="padding-top:50px;padding-bottom:30px;">
    <div class="orderItemForm">
      <div class="item clearfix">
        <label>国际直邮</label>
        <div class="right redtext">等待发货</div>
      </div>
      <div class="item clearfix">
        <div class="picleft">
          <img src="images/pro1.jpg">
        </div>  
        <div class="desc">Puritan’s Pride 普丽普莱 维生素B-12 钴胺素 改善贫血 缓解压力  缓释型易吸收 1000mcg 100粒</div>
        <div class="right prinum">
          <span class="redtext">￥130.0</span> 
          &nbsp;&nbsp;&nbsp;x10
        </div>
      </div>
      <div class="item clearfix">
        <label>订单号:</label>
        <div class="right"><a href="">287301893897490589139</a></div>
      </div>
      <div class="item clearfix">
        <label>地 址:</label>
        <div class="right">浙江杭州西湖区浙大科技园b楼</div>
      </div>
      <div class="item clearfix">
        <label>收件人:</label>
        <div class="right">娜娜</div>
      </div>
      <div class="item clearfix">
        <label>电 话:</label>
        <div class="right">18099898898</div>
      </div>
    </div>
    <div class="orderItemForm">
      <div class="item clearfix">
        <label>运税费:</label>
        <div class="right">￥13+12</div>
      </div>
      <div class="item clearfix">
        <label>优惠:</label>
        <div class="right">-￥130</div>
      </div>
      <div class="item clearfix">
        <label>实际支付:</label>
        <div class="right redtext">￥130</div>
      </div>
    </div>
    <!-- 待发货的 -->
    <div class="clearfix">
      <div class="txfahuo clearfix">
        <a class="txfh nol">提醒发货</a>
        <a class="tuikbtn">退款</a>
      </div>
    </div>
    <!-- 待评价的 -->
    <div class="clearfix">
      <div class="txfahuo clearfix">
        <a class="txfh">去评价</a>
      </div>
    </div>
    <!-- 待收货的 -->
    <div class="clearfix">
      <div class="txfahuo clearfix">
        <a class="txfh nol">查看物流</a>
        <a class="tuikbtn pinkbtn nol">确认收货</a>
        <a class="tuikbtn">退款</a>
      </div>
    </div>
    <!-- 交易成功的 -->
    <div class="clearfix">
      <div class="txfahuo clearfix">
        <a class="txfh">追加评价</a>
      </div>
    </div>
    <!-- 去支付 -->
    <div class="clearfix">
      <a class="btnone_pink red">去支付</a>
      <div class="tipundbtn">下单时间：2015-6-30 10:00:18</div>
    </div>
  </div>
  <script type="text/javascript">
    

  </script>
</body>
</html>