<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>我的积分记录</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="Keywords" content="" />
  <meta name="description" content="" />
  <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/template/mobile/css/reset.css">
  <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/template/mobile/css/style.css">
  <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/template/mobile/sweetalert/sweet-alert.css">
  <script type="text/javascript" src="{%$VIEW_ROOT%}/template/mobile/sweetalert/sweet-alert.js"></script>
  <script type="text/javascript" src="{%$VIEW_ROOT%}/template/mobile/js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="{%$VIEW_ROOT%}/template/mobile/js/jquery.transit.js"></script>
  <script type="text/javascript" src="{%$VIEW_ROOT%}/template/mobile/js/jquery.mslides.js"></script>
</head>
<body>
  <div id="header">
    <header>
      <a class="btn left_btn"><i class="icon back"></i></a>
      <h1>我的积分记录</h1>
      <a class="btn right_btn">换购</a>
    </header>
  </div>
  <div id="content" style="padding-top:50px;padding-bottom:40px;">
    <div class="huangouCon">
      <div class="keyong clearfix">
        <div class="left">
          当前可用积分共计： <span class="redtext">1500</span>
        </div>
        <div class="right">100积分=5元</div>
      </div>
      <div class="jifenRe">
        <div class="item clearfix">
          <div class="left">
            <div class="origin">绑定手机获得积分</div>
            <div class="date">2015-10-10</div>
          </div>
          <div class="right redtext">+500</div>
        </div>
        <div class="item clearfix">
          <div class="left">
            <div class="origin">绑定手机获得积分</div>
            <div class="date">2015-10-10</div>
          </div>
          <div class="right redtext">+500</div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    

  </script>
</body>
</html>