<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>余额充值</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="Keywords" content="" />
  <meta name="description" content="" />
  <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/template/mobile/css/reset.css">
  <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/template/mobile/css/style.css">
  <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/template/mobile/sweetalert/sweet-alert.css">
  <script type="text/javascript" src="{%$VIEW_ROOT%}/template/mobile/sweetalert/sweet-alert.js"></script>
  <script type="text/javascript" src="{%$VIEW_ROOT%}/template/mobile/js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="{%$VIEW_ROOT%}/template/mobile/js/jquery.transit.js"></script>
  <script type="text/javascript" src="{%$VIEW_ROOT%}/template/mobile/js/jquery.mslides.js"></script>
</head>
<body>
  <div id="header">
    <header>
      <a class="btn left_btn"><i class="icon back"></i></a>
      <h1>余额充值</h1>
    </header>
  </div>
  <div id="content" style="padding-top:50px;">
    <div class="restmomey clearfix">
      <label>余额</label>
      <div class="right redtext">￥100.00</div>
    </div>
    <div class="chongzhiCon">
      <div class="tit">充值金额</div>
      <div class="down clearfix">
        <div class="method clearfix">
          <img class="btick" src="{%$VIEW_ROOT%}/template/mobile/images/btick.png"/>
          <span>微信支付</span>
          <img src="{%$VIEW_ROOT%}/template/mobile/images/wechat2.png" class="wechat2">
        </div>
        <input type="text">
      </div>
    </div>
    <a class="btnone_pink red">充值</a>
  </div>
  <script type="text/javascript">
    

  </script>
</body>
</html>