<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>我的</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="Keywords" content="" />
  <meta name="description" content="" />
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="js/common.js"></script>
  <script type="text/javascript" src="js/jquery.transit.js"></script>
  <script type="text/javascript" src="js/jquery.fly.js"></script>
</head>
<body>
  <div id="header">
    <header>
      <a class="btn left_btn"><i class="icon chat"></i></a>
      <h1>我的</h1>
      <a class="btn right_btn" href="settings.html"><i class="icon setting"></i></a>
    </header>
  </div>
  <div class="caidanCon">
    <div class="logo J_caidan" onclick="toggleCaidan()"></div>
    <div class="caidan small">
      <a class="home" href="index.php?c=mobile&a=index"></a>
      <a class="cart" href="index.php?c=mobile&a=car"></a>
      <a class="prolist" href="index.php?c=mobile&a=category"></a>
      <a class="user" href="index.php?c=mobile&a=ucenter"></a>
      <a class="kefu"></a>
    </div>
  </div>
  <div id="content" style="padding-top:50px">
    <div class="uCenter">
      <div class="topblock">
        <div class="login clearfix">
          <a class="item" href="login.html">登录</a>
          <a class="item" href="reg.html">注册</a>
        </div>
      </div>
      <div class="ordertypes clearfix">
        <a class="item">
          <img src="images/uicon1.png">
          <span>待付款</span>
        </a>
        <a class="item">
          <img src="images/uicon2.png">
          <span>待发货</span>
        </a>
        <a class="item">
          <img src="images/uicon3.png">
          <span>待收货</span>
        </a>
        <a class="item">
          <img src="images/uicon4.png">
          <span>待评价</span>
        </a>
      </div>
      <div class="setList">
        <ul>
          <li>
            <a href="">
              <i class="icon uicon5 icon_l"></i>
              <label>我的订单</label>
              <i class="icon arr_r icon_r"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="icon uicon6 icon_l"></i>
              <label>我的余额</label>
              <i class="icon arr_r icon_r"></i>
              <div class="addon redtext">￥100.00</div>
            </a>
          </li>
          <li>
            <a href="">
              <i class="icon uicon7 icon_l"></i>
              <label>我的优惠券</label>
              <i class="icon arr_r icon_r"></i>
              <div class="addon">4张</div>
            </a>
          </li>
          <li>
            <a href="">
              <i class="icon uicon8 icon_l"></i>
              <label>我的积分</label>
              <i class="icon arr_r icon_r"></i>
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="">
              <i class="icon uicon9 icon_l"></i>
              <label>我的收藏</label>
              <i class="icon arr_r icon_r"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="icon uicon10 icon_l"></i>
              <label>我的收货地址</label>
              <i class="icon arr_r icon_r"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="icon uicon12 icon_l"></i>
              <label>客服热线</label>
              <i class="icon arr_r icon_r"></i>
              <div class="addon">客服热线：<span class="bluetext">010－1212083</span></div>
            </a>
          </li>
          <li>
            <a href="">
              <i class="icon uicon13 icon_l"></i>
              <label>大奖抢不停</label>
              <i class="icon arr_r icon_r"></i>
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="">
              <i class="icon uicon14 icon_l"></i>
              <label>帮助与反馈</label>
              <i class="icon arr_r icon_r"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="footer">

  </div>
  <script type="text/javascript">
    

  </script>
</body>
</html>