<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>我的</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="Keywords" content="" />
  <meta name="description" content="" />
  <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/template/mobile/css/reset.css">
  <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/template/mobile/css/style.css">
  <link rel="stylesheet" type="text/css" href="{%$VIEW_ROOT%}/template/mobile/sweetalert/sweet-alert.css">
  <script type="text/javascript" src="{%$VIEW_ROOT%}/template/mobile/sweetalert/sweet-alert.js"></script>
  <script type="text/javascript" src="{%$VIEW_ROOT%}/template/mobile/js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="{%$VIEW_ROOT%}/template/mobile/js/common.js"></script>
  <script type="text/javascript" src="{%$VIEW_ROOT%}/template/mobile/js/jquery.transit.js"></script>
  <script type="text/javascript" src="{%$VIEW_ROOT%}/template/mobile/js/jquery.fly.js"></script>
</head>
<body>
  <div id="header">
    <header>
      <!-- <a class="btn left_btn"><i class="icon chat"></i></a> -->
      <h1>我的</h1>
      <a class="btn right_btn" href="index.php?c=mobile&a=userInfo"><i class="icon setting"></i></a>
    </header>
  </div>
  <div class="caidanCon">
    <div class="logo J_caidan" onclick="toggleCaidan()"></div>
    <div class="caidan small">
      <a class="home" href="index.php?c=mobile&a=index"></a>
      <a class="cart" href="index.php?c=mobile&a=cart"></a>
      <a class="prolist" href="index.php?c=mobile&a=category"></a>
      <a class="user" href="index.php?c=mobile&a=ucenter"></a>
      <a class="kefu"></a>
    </div>
  </div>
  <div id="content" style="padding-top:50px">
    <div class="uCenter">
      <div class="topblock">
        <div class="alreadylogin clearfix hide" onclick="window.location.href='index.php?c=mobile&a=userInfo'">
          <div class="thumb">
            <img src="{%$VIEW_ROOT%}/template/mobile/images/default.png">
          </div>
          <div class="name">
            未填写
          </div>
        </div>
        <div class="login clearfix hide">
          <a class="item" href="index.php?c=mobile&a=login">登录</a>
          <a class="item" href="index.php?c=mobile&a=register">注册</a>
        </div>
      </div>
      <div class="ordertypes clearfix">
        <a class="item" href="index.php?c=mobile&a=orderList&status=0">
          <img src="{%$VIEW_ROOT%}/template/mobile/images/uicon1.png">
          <span>待付款</span>
        </a>
        <a class="item" href="index.php?c=mobile&a=orderList&status=1">
          <img src="{%$VIEW_ROOT%}/template/mobile/images/uicon2.png">
          <span>待发货</span>
        </a>
        <a class="item" href="index.php?c=mobile&a=orderList&status=4">
          <img src="{%$VIEW_ROOT%}/template/mobile/images/uicon3.png">
          <span>待收货</span>
        </a>
        <a class="item" href="index.php?c=mobile&a=orderList&status=5">
          <img src="{%$VIEW_ROOT%}/template/mobile/images/uicon4.png">
          <span>待评价</span>
        </a>
      </div>
      <div class="setList">
        <ul>
          <li onclick="window.location.href='index.php?c=mobile&a=orderList'">
            <a>
              <i class="icon uicon5 icon_l"></i>
              <label>我的订单</label>
              <i class="icon arr_r icon_r"></i>
            </a>
          </li>
          <li onclick="window.location.href='index.php?c=mobile&a=voucher'">
            <a>
              <i class="icon uicon7 icon_l"></i>
              <label>我的优惠券</label>
              <i class="icon arr_r icon_r"></i>
              <!-- <div class="addon" id="cou_num">4张</div> -->
            </a>
          </li>
        </ul>
        <ul>
          <li onclick="window.location.href='index.php?c=mobile&a=collection'">
            <a>
              <i class="icon uicon9 icon_l"></i>
              <label>我的收藏</label>
              <i class="icon arr_r icon_r"></i>
            </a>
          </li>
          <li onclick="window.location.href='index.php?c=mobile&a=address'">
            <a>
              <i class="icon uicon10 icon_l"></i>
              <label>我的收货地址</label>
              <i class="icon arr_r icon_r"></i>
            </a>
          </li>
          <li>
            <a href="" id="kfrx">
              <i class="icon uicon12 icon_l"></i>
              <label>客服热线</label>
              <i class="icon arr_r icon_r"></i>
              <div class="addon">客服热线：<span class="bluetext" id="kftext"></span></div>
            </a>
          </li>
          <!-- <li>
            <a href="">
              <i class="icon uicon13 icon_l"></i>
              <label>大奖抢不停</label>
              <i class="icon arr_r icon_r"></i>
            </a>
          </li> -->
        </ul>
        <ul>
          <li>
            <a href="index.php?c=mobile&a=helper">
              <i class="icon uicon14 icon_l"></i>
              <label>帮助与反馈</label>
              <i class="icon arr_r icon_r"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="footer">

  </div>
  <script type="text/javascript">
  $(function(){
    info();
    coupon();
    getKF1();
    // setKF();
    // setKF('#kfrx');
    // setKF('#kftext',true);
  });
  function getKF1(){
    $.ajax( {    
      url:BASEURL+'?c=system&a=app&type=wap',// 跳转到 action    
      data:{    
      },    
      type:'get',    
      cache:false,    
      dataType:'json',    
      success:function(data) { 
        if(data.code == 1){
        config_base.tel = data.body.servicetelephone;
        setKF();
        setKF('#kfrx');
        setKF('#kftext',true);
        }else{
          // alert(data.result);
          console.log(data.code);
        } 
      } 
    });
  }
  function info(){
    $.ajax( {    
      url:BASEURL+'?c=user&a=information',// 跳转到 action    
      data:{    
      },    
      type:'get',    
      cache:false,    
      dataType:'json',    
      success:function(data) { 
        if(data.code == 1){
          $('.alreadylogin').show();

          

          var name = data.body.username;
          var photo = data.body.gravatar;
          var money = data.body.money;
          if(photo){
            $('.alreadylogin .thumb img')[0].src = photo;
          }
          if(name){
            $('.alreadylogin .name').text(name);
          }
          $('#money').text('￥'+money);
        }else{
          // alert(data.result);
          $('.login').show();
        } 
      } 
    });
  }
  function coupon(){
    $.ajax( {    
      url:BASEURL+'?c=coupon&a=getavaliable',// 跳转到 action    
      data:{    
      },    
      type:'get',    
      cache:false,    
      dataType:'json',    
      success:function(data) { 
        if(data.code == 1){
          var number = data.body.length;
          // $('#cou_num').text(number+'张');
        }else{
          alert(data.result);
        } 
      } 
    });
  }
    
  </script>
</body>
</html>