<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>我的代金券</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="Keywords" content="" />
  <meta name="description" content="" />
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="js/jquery.transit.js"></script>
  <script type="text/javascript" src="js/jquery.mslides.js"></script>
</head>
<body>
  <div id="header">
    <header>
      <a class="btn left_btn"><i class="icon back"></i></a>
      <h1>我的代金券</h1>
    </header>
  </div>
  <div id="content" style="padding-top:50px;">
    <div class="djq_search clearfix">
      <input type="text" placeholder="输入优惠券">
      <a class="enter">确定</a>
    </div>
    <a class="djq_gz">代金券使用规则</a>
    <div class="djqList">
      <div class="item clearfix">
        <div class="jine redtext">
          ￥&nbsp;&nbsp;&nbsp;<strong class="">15</strong>
        </div>
        <div class="desc">
          <p>国际直邮代金券 <span class="redtext">［满减］</span></p>
          <p>满150使用</p>
          <p>有效期至2015-7-14</p>
        </div>  
        <div class="states">可使用</div>
      </div>
      <div class="item clearfix disable">
        <div class="jine">
          ￥&nbsp;&nbsp;&nbsp;<strong class="redtext">15</strong>
        </div>
        <div class="desc">
          <p>国内现货折扣券</p>
          <p></p>
          <p>有效期至2015-6-14</p>
        </div>  
        <div class="states">已过期</div>
      </div>
      <div class="item clearfix disable">
        <div class="jine">
          ￥&nbsp;&nbsp;&nbsp;<strong class="redtext">15</strong>
        </div>
        <div class="desc">
          <p> 国际直邮代金券［满减］</p>
          <p>满150使用</p>
          <p>有效期至2015-7-14</p>
        </div>  
        <div class="states">已使用</div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    

  </script>
</body>
</html>