<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<script src="{%$VIEW_ROOT%}/assets/global/plugins/jquery-1.11.0.min.js" type="text/javascript"></script>
<body>
<form action="{%url c=order a=score%}" method="post">
订单id：<input type="text" name="id" value="15"><br>
物流评分：<input type="text" name="ship_score" value="5"><br>
服务评分：<input type="text" name="service_score" value="5"><br>
商品评分：<input type="text" name="goods_score" value="5"><br>
订单评价内容：<input type="text" name="content" value="评价内容"><br>

content:<input type="text" name="comment[78][content]" value="id为78的商品的评价"><br>
score:<input type="text"  name="comment[78][score]" value="4"><br>
file:<input type="text" name="comment[78][pic][]"><br>


content:<input type="text" name="comment[79][content]" value="id为79的商品的评价"><br>
score<input type="text" name="comment[79][score]" value="3"><br>
file<input type="text" name="comment[79][pic][]"><br>
file<input type="text" name="comment[79][pic][]"><br>

<input type="submit">
</form>
</body>
</html>